<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HTML Codex - Login Form Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Login Form Template" name="keywords">
        <meta content="Login Form Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="credit">Login Templates by <a href="https://htmlcodex.com">HTML Codex</a></h1>
        <div class="demo">
            <img src="img/demo-1.png" alt="Demo Image">
            <a href="login1.html">Demo 1</a>
        </div>
        <div class="demo">
            <img src="img/demo-2.png" alt="Demo Image">
            <a href="login2.html">Demo 2</a>
        </div>
        <div class="demo">
            <img src="img/demo-3.png" alt="Demo Image">
            <a href="login3.html">Demo 3</a>
        </div>
    </body>
</html>
